@model UserClaimsViewModel

<form method="post">
	<div class="card">
		<div class="card-header">
			<h3>Manage User Claims</h3>
		</div>
		<div class="card-body">
			@for (int i = 0; i < Model.Claims.Count; i++)
			{
				// reason that we use for loop and not foreach because we got list of records and if we use foreach
				// then same role id will be pass to all the records so even if we click the other checkboxes it will
				// only show first on click
				<div class="form-check m-1">
					<input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
					<input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
					<label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
						@Model.Claims[i].ClaimType
					</label>
				</div>
			}
		</div>
		<div class="card-footer">
			<input type="submit" value="update" class="btn btn-primary" style="width:auto" />
			<a asp-action="EditUser" class="btn btn-primary" asp-route-id="@Model.UserId" style="width:auto">Cancel</a>
		</div>
	</div>
</form> 